[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "content/posts/ektukhani-linux"]
	path = content/posts/ektukhani-linux
	url = https://github.com/linux-bangla/ektukhanilinux-contents
